

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');
*,

*:after,
*:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus{
    outline:0 !important;
    outline-offset:0;
}

:root{
    --primary-color:#ffc222;
    --secondary-color:#00a149;
    --white-color:#fff;
    --text-color:#b0b0b0;
    --black-color:#1e1023;
    --primary-font:'Roboto',sans-serif;
    --secondary-font:'Quicksand',sans-serif;
}

a,
a:hover{
    text-decoration: none;
}

a:hover{
    color:red!important
}

ul,ol{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0.625rem;
}

::-webkit-scrollbar-track{
    background: var(--white-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
}

h1{
    font-size:58px;
    font-weight: 900;
    margin-bottom: 1rem;
    color:var(--white-color);
    text-shadow: 1px 0 6px #000;
}

h1 span{
    color:var(--primary-color);
}

h2{
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: var(--secondary-color);
    line-height: 3rem;
}

h4{
    color:var(--secondary-color);
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

h5{
    color:var(--secondary-color);
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

p{
    font-size: 1rem;
    color:var(--text-color);
    font-weight:400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}

.main-btn{
    display:inline-block;
    padding:0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    color:var(--black-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /10%);
    -webkit-transition: all,4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition:all .4s ease-out 0s;
    transition: all .4s ease-out 0s;

}

.main-btn:hover{
    background-color: transparent;
    color:var(--primary-color)
}

.Wrapper{
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
}

.text-content{
    width:70%;
    margin: auto;
}

.navigation-wrap{
    position: fixed;
    width: 100%;
    left:0;
    z-index: 1000;
    transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item{
    padding: 0 0.625rem;
    transition: all 0.3s linear;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}

.nav-link{
    font-size: .9375rem;
    font-weight: 600;
    text-transform: capitalize;
   
    letter-spacing: 1px;
}

.navigation-wrap .main-btn{
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 00.625rem;
}


.avigation-wrap .scroll-on{
    position: fixed;
    background-color: var(--white-color);
    top:0;
    left:0;
    width: 100%;
    box-shadow: 0 01.125rem 1.7rem 0 rgb(0,0,0,0.9);
    transition: all 0.15s ease-in-out 0s;
}

.avigation-wrap .scroll-on .nav-link{
    color:var(--black-color)
}

.avigation-wrap .scroll-on .nav-link:hover,
.avigation-wrap .scroll-on .nav-link:active{
    color: var(--primary-color);
}

.top-banner{
    width: 100%;
    padding: 16.875rem 0 9.375rem;
}
